@charset "UTF-8";

:root {
    --cor_fundo: #F5EBDD;
    --cor_texto_preto: #000000; 
    --cor_texto_branco: #FFFDF8;
    --cor_secundario: #667052;
    --marrom_caramelo: #B87945;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor_texto_branco);
    background-color: var(--cor_fundo);
    padding: 0;
    margin: 0;
}

h1, h2, p {
    margin: 0 0 10px 0;
    padding: 0;
}

h2 {
    font-size: 20px;
    color: var(--cor_texto_preto);
    margin-bottom: 15px;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--cor_secundario);
    padding: 5px 0px;
}

header .logo img {
    margin: 0 15px;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_header {
    display: block;
    width: 80%;
    text-align: left;
    padding-left: 15px;
}

.menu-mobile {
    position: relative;
}

.menu-mobile summary {
    list-style: none;
}

.menu-mobile summary::-webkit-details-marker {
    display: none;
}

i.fa-solid {
    color: var(--cor_fundo);
    font-size: 24px;
}

.nav_mobile {
    position: absolute;
    top: 50px;
    padding: 15px;

    display: flex;
    flex-direction: column;

    background-color: var(--cor_secundario);
    border-radius: 0px 15px 15px 15px;
    z-index: 2;
}


.nav_mobile a {
    text-decoration: none;
    color: var(--cor_texto_branco);
    font-size: 17px;
    margin-bottom: 10px;
}

.hero-content {
    height: 400px;
    max-height: none;
    margin-bottom: 10px;
    position: relative;
}

.hero-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.texto_banner {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 70%;
    max-width: 500px;
    transform: translateX(-50%);
}

.texto_banner h1 {
    font-size: 20px;
    color: var(--cor_texto_branco);
    margin-bottom: 20px;
}

.texto_banner p {
    font-size: 15px;
    color: var(--cor_texto_branco);
    margin-bottom: 25px;
    line-height: 1.5;
}

.hero-content a {
    color: var(--cor_texto_branco);
    text-decoration: none;
    padding: 5px 20px;
    background-color: var(--marrom_caramelo);
    border-radius: 5px;
    font-size: 14px;
}

.hero-content a:hover {
    background-color: var(--cor_secundario);
    transition: 0.3s;
}

.pratos_em_destaque, .sobre_nos, .motivos_para_escolher , .galeria {
    padding: 5px;
}

.pratos_em_destaque h2, .sobre_nos h2, .motivos_para_escolher h2, .galeria h2 {
    color: var(--cor_texto_preto);
    margin-bottom: 7px;
}

.linha_titulo {
    border-bottom: 5px solid var(--cor_secundario);
    margin: 10px 0 20px 0; 
    width: 25%;
}

.prato_destaque {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--cor_secundario);
    height: 125px;
}

.prato_destaque img {
    width: 160px;
    height: 125px;
}

.texto_prato_destaque {
    margin: 5px 8px;
    text-align: center;
}

.texto_prato_destaque h3 {
    font-size: 15px;
    color: var(--cor_texto_branco);
    margin-bottom: 10px;
}

.texto_prato_destaque p {
    font-size: 14px;
    color: var(--cor_texto_branco);
    margin-bottom: 10px;
}

.botao_ver_pratos, .botao_sobre_nos, .botao_ver_galeria {
    text-align: center;
    margin-bottom: 20px;
}

.botao_ver_pratos a, .botao_sobre_nos a, .botao_ver_galeria a {
    text-decoration: none;
    color: var(--cor_texto_branco);
    padding: 5px 20%;
    background-color: var(--cor_secundario);
    border-radius: 5px;
    font-size: 14px;
}

.botao_ver_pratos a:hover {
    background-color: var(--marrom_caramelo);
    transition: 0.3s;
}

.linha_separar_secao {
    width: 90%;
    height: 4px;
    background-color: var(--cor_secundario);
    margin: 20px auto;
}

.sobre_nos_img {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.sobre_nos_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sobre_nos_texto {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 20px;
    color: var(--cor_texto_preto);
    line-height: 1.3;
}

.motivos {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
    text-align: center;
}

.motivos_para_escolher i {
    font-size: 30px;
    color: var(--cor_fundo);
    margin: auto auto 10px auto;
    padding: 16px 16px;
    background-color: var(--cor_secundario);
    border-radius: 50%;
}

.motivos_para_escolher p {
    font-size: 15px;
    color: var(--cor_texto_preto);
    margin-bottom: 10px;
    text-align: center;
}

.divisao_motivo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.motivos_para_escolher h2 , .galeria h2 {
    text-align: center;
}

.galeria_imagens {
    text-align: center;
    margin: 20px 0;
}

.galeria_imagens img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}